body {
    background-color: rgb(247, 247, 247);
    font-family: "Cairo", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
  }
  
strong {
  opacity: 0.7;
}

  .projects_blocks {
    margin-top: 50px;
  }
  
  .number {
    display: inline-block;
    padding: 1px 0px 5px 8px;
    border-radius: 50%;
    font-weight: 100;
    font-size: 14px;
    margin-right: 5px;
    margin-left: -58px;
    margin-top: -15px;
    position: absolute;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0px 1px rgb(170, 170, 170);
    /* box-shadow: 0 0 3.5px -1px black; */
  }
  
  .projects_blocks {
    width: 1010px;
  }
  
  span {
    font-weight: 500;
    font-size: large;
    background-color: rgb(54, 54, 54);
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 6px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .skils {
    margin-left: 30px;
  }
  
  .projects {
    margin-left: 30px;
  }
  
  a {
    text-decoration: none;
    color:rgb(0, 0, 0);
  }
  
  a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }
  
  .about_me {
    margin-left: 30px;
  }
  
  h1 {
    text-align: center;
    box-shadow: 0 0 0 1px rgb(141, 141, 141);
    display: inline-block;
    padding: 5px 0 0 10px;
    border-radius: 5px;
    opacity: 0.9;
    font-weight: 400;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .json {
    color: rgb(201, 73, 73);
  }
  
  .explane {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 0px 1px rgb(155, 155, 155);
    font-size: 15px;
  }
  
  .technologies {
    background-color: rgb(153, 185, 255);
    padding: 10px;
    color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 0px 1px rgb(155, 155, 155);
  }

  .red {
      color: rgb(218, 0, 0);
  }

  .wrapper {
      margin-bottom: 50px;
  }
